/// <reference path="../utils/_variables.scss" />
/// <reference path="../utils/mixins/_general.scss" />

//table styles for bootstrap columns/rows and regular tables

table,
tbody,
th,
td,
tr {
    display: block;
}

thead {
    display: none;
}

.table {
    width: 100%;

   

    

    th,
    td {
        padding: 0.75em 1.25em;
    }

    td {
        vertical-align: top;
        padding: 0.5em 0;

        &:before {
            content: attr(data-label)':';
            display: inline-block;
			font-weight: 900;
            margin-right: 0.5em;
        }
    }
}

@media screen and (min-width: $breakpoint-small) {
    table {
        display: table;
    }
    tbody {
        display: table-row-group;
    }
    thead {
        display: table-header-group;
    }
    tr {
        display: table-row;
    }
    td, th {
        display: table-cell;
    }

    .table {
        td {
            padding: 0.75em 1.25em;

            &:before {
                display: none;
            }
        }

        tbody tr {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    
}