/// <reference path="../../utils/_variables.scss" />
/// <reference path="./_general.scss" />
/// <reference path="./_vendor-prefix.scss" />

@mixin btn() {
	background: $btn-bg;
	color: $btn-color;
	font-weight: normal;
	padding: 14px 25px;
	@include fontSize(16px);
	line-height: normal;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	outline: 0;
	border: 0;
	box-shadow: none;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	@include transition(background, background-color, color .25s ease-in-out);

	&:focus, &:active {
		color: $btn-color-focus;
		background: $btn-bg-focus;
		text-decoration: none;
		outline: none;
	}

	&:focus {
		outline: auto;
	}

	@media (min-width: $breakpoint-medium) {
		&:hover {
			color: $white;
			background: $btn-bg-focus;
			text-decoration: none;
		}
	}
}

@mixin unbutton() {
	background: transparent;
	border: none;
	padding: 0;
	transition: none;

	&:focus, &:active {
		background: transparent;
		border: none;
		outline: none;
	}
}

@mixin solid-btn($background, $hover, $color) {
	color: $color;
	background: $background;

	@media (min-width: $breakpoint-medium) {
		&:hover, &:active, &:focus {
			background: $hover;
		}
	}
}

@mixin hollow-btn($background, $hover, $color) {
	color: $color;
	background: $background;
	border: 2px solid $color;

	@media (min-width: $breakpoint-medium) {
		&:hover, &:active, &:focus {
			background: $hover;
			color: $background;
		}
	}
}

@mixin disabled-btn() {
	background: $white !important;
	border-color: $disabled !important;
	color: $disabled !important;
	cursor: not-allowed !important;

	&:focus {
		background: $white !important;
		color: $disabled !important;
	}

	@media screen and (min-width: $breakpoint-medium) {
		background: $disabled !important;
		color: $white !important;
		cursor: not-allowed !important;

		&:focus {
			background: $disabled !important;
			color: $white !important;
		}
	}
}