/// <reference path="_variables.scss"/>

.form {
  display: flex;
  justify-content: center;

  .address-input {
    margin-right: 20px;
  }

  input[type=submit] {
    padding: 0 20px;

    &:hover {
      cursor: pointer;
    }
  }
  input[type=text] {
    border: 1px solid $primary;
    padding: 10px 15px;
  }
}