/// <reference path="_variables.scss"/>

.form {
  display: flex;
  justify-content: center;

  .address-input {
    margin-right: 20px;
  }

  input[type=submit] {
    padding: 0 20px;
  }
  input[type=text] {
    border: 1px solid $primary;
  }
}