/// <reference path="_variables.scss"/>

.officials {
  color: $white;
  @include list-reset();
  margin-top: 40px;
  text-align: center;
  
  h2 {
    color: $white;
  }
  
  img {
    height: auto;
    width: 200px;
  }
  
  > li {
    background-color: $primary;
    padding: 40px 0;

    &:nth-child(2n + 2) {
      background-color: $white;
      color: $txt-body;
      h2  {
        color: $primary;
      }
    }
  }

  .official-details {
    @include list-reset();
  }
}